.icon-3d-printer {
    background: url('../images/logos/TA.png');
    background-size: contain;
    /* Other styles here */
}

.icon-3d-printer {
    background: url('../images/logos/TA.png');
    background-size: contain;
    /* Other styles here */
}