/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  #particles-js {

    height: 100%;
    width: 100%;
    position: fixed;
   

  }
  
  img {
    max-width: 35%;
    height: 35%;
  }